*~
*.swp
Evas/common.c
Evas/common.h
Elementary/common.c
Elementary/common.h
Elementary/elementary-const-c.inc
Elementary/elementary-const-xs.inc
Elementary/Elementary.c
Evas/common.c
Evas/common.h
Evas/Evas.c
Evas/evas-const-c.inc
Evas/evas-const-xs.inc
*.o
Makefile
Makefile.old
blib/
core
pm_to_blib
tmp/
*.bak
*.bs
.build
