*~
*.swp
Ecore/common.c
Ecore/common.h
Ecore/ecore-const-c.inc
Ecore/ecore-const-xs.inc
Ecore/Ecore.c
Evas/common.c
Evas/common.h
Elementary/common.c
Elementary/common.h
Elementary/elementary-const-c.inc
Elementary/elementary-const-xs.inc
Elementary/Elementary.c
Evas/common.c
Evas/common.h
Evas/Evas.c
Evas/evas-const-c.inc
Evas/evas-const-xs.inc
*.o
Makefile
Makefile.old
blib/
core
pm_to_blib
tmp/
*.bak
*.bs
.build
EFL-*/
EFL-*.tar.gz
pod2htm*
